#contentBody {
    background-color: #ffffff;
}

#mainContentDiv {
    font-size: 18px;
    font-family: $roboto;
    padding-left: 130px;
    padding-top: 130px;
    padding-right: 65px;


    p {
        color: #595959;
        line-height: 2em;
        font-size: 1em;
        margin-bottom: 25px;
    }

    h1 {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    #undrawCodeThinking {
        max-width: 70%;
        max-height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1200px) {
    #mainContentDiv {
        font-size: 16px;
        padding-left: 65px;
        padding-top: 65px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 600px) {
    #mainContentDiv {
        font-size: 12px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 10px;

        h1 {
            margin-bottom: 10px;
        }
    }

}
