#contentWrapper {
    min-height: 100vh;
    position: relative;
}

#mainContentDiv {
    font-size: 18px;
    font-family: $roboto;
    padding: 100px 20% (100px + $footerheight) 20%;

    p, ul {
        max-width: 32em;
        color: $maingray;
        line-height: 2em;
        font-size: 1em;
    }

    p {
        margin-bottom: 36px;
    }

    h1 {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 25px;
    }

    #rightColumn {
        display: flex;
        flex-direction: column;
    }

    #undrawCodeThinking {
        max-width: 450px;
    }

    #quiz {
        color: $maingray;
        max-width: 450px;

        #quizTextInBorder {
            margin-bottom: -0.8em;
        }
        
        #quizQuestion {
            background-color: white;
            display: inline-block;
            padding: 0 5px;
            margin-left: 1.2em;
        }

        #quizBorder {
            border: 1px solid $maingray;
            border-radius: 20px;

            margin-bottom: 20px;
        }

        #quizAnswers {
            margin: 20px 30px 20px 60px;

            label {
                margin: 5px 0 5px 0;
                text-indent: -35px;


                &:hover {
                    opacity: 0.7;
                }
            }

            input[type="radio"] {
                margin-right: 20px;
                
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                display: inline-block;
                width: 15px;
                height: 15px;
                padding: 2px;

                background-clip: content-box;
                border: 2px solid $maingray;
                background-color: white;
                border-radius: 50%;

                &:checked {
                    background-color: $maingray;
                }
            }
        }

        input[type="button"] {
            float: right;
            
            width: 80px;
            height: 40px;
            
            border: none;
            border-radius: 10px;

            color: white;
            font-weight: 700;
            background-color: $maindarkblue;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #mainContentDiv {
        padding-top: 50px;
        padding-bottom: (50px + $footerheight);

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        #undrawCodeThinking {
            margin-bottom: 50px;
        }

        #quiz {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 600px) {
    #mainContentDiv {
        padding: 50px 5% (50px + $footerheight) 5%;

        #undrawCodeThinking {
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 350px) {
    #mainContentDiv{

        #undrawCodeThinking {
            max-width: 200px;
        }

        #quiz {
            #quizQuestion {
                margin-left: 0.8em;
            }
        }
    }
}
