.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor-wrapper {
    width: 100%;
    max-width: 570px;
    height: 520px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 2em;
    border-radius: 15px;
}

.editor-body {
    flex: 1;
}

.editor-footer {
    display: flex;
    margin-top: 1em;
}

.editor-footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.editor-footer-right {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.editor-button {
    cursor: pointer;
    border: none;
    margin: 0.5em;

    transition: opacity 0.1s;

    &:hover {
        opacity: 0.7;
    }
}

.editor-console {
    background-color: #fff;
    width: 100%;
    height: 130px;
    border: 1px solid $maingray;
    overflow: auto;
    border-radius: 5px;
}

.editor-code {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid $maingray;
}

// Editor console logs

.editor-console-logs {
    padding: 10px;
    list-style: none;
    margin: 0;

    li, pre {
        margin: 0;
    }
}

.ace_gutter {
    border-left: 5px solid $maindarkblue;
}

.log-error {
    color: darkred;
}

.log-object, .log-array, .log-function {
    color: darkblue;
}

.log-undefined {
    color: gray;
}

@media screen and (max-width: 600px) {
    .editor-wrapper {
        width: 110%;
        padding: 1.5em;
    }

    .editor-footer {
        flex-direction: column;
        margin: 0;
    }

    .editor-footer-left {
        flex-direction: row;
    }

    .editor-button {
        margin: 0.7em;
    }
}
