#mainFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerheight;
    color: gray;
    background-color: $maindarkbg;
    font-family: $monsterrat;

    a {
        color: gray;

        &:hover {
            color: white;
        }
    }

}
