#mainFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerheight;
    color: $mainlightgray;
    background-color: $maindarkbg;
    font-family: $montserrat;
    text-align: center;

    a {
        color: $mainlightgray;
        text-decoration: none;

        transition: color 0.1s;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}
