#mainFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    color: gray;
    background-color: #222;
    font-family: $monsterrat;

    a {
        color: gray;

        &:hover {
            color: white;
        }
    }

}
