#mainNav {
    min-height: $headerheight;
    padding-left: 20%;
    padding-right: 20%;
    background-color: $maindarkbg;
    font-weight: 700;
    font-family: $montserrat;

    i, .navbar-brand, .nav-link {
        color: white;
    }

    .nav-link, .btn {
        transition: opacity 0.1s;

        &:hover {
            opacity: 0.5;
        }
    }

    .container-fluid {
        padding: 0;
    }

    .navbar-brand {
        img {
            width: 250px;
        }
    }

    .btn {
        background-color: white;
        color: black !important;
        border-radius: 0;
        font-weight: 700;
    }

    .navbar-toggler {
        color: white;
    }

    .nav-item {
        padding-right: 10px;
    }

    @media screen and (max-width: 1200px) {
        padding-left: 5%;
        padding-right: 5%;

        .nav-item {
            padding-right: 0;
        }
    }

    @media screen and (max-width: 600px) {
        min-height: $headerheightmobile;

        .navbar-brand {
            img {
                width: 125px;
            }
        }
    }
}
