#indexWrapper {
    min-height: 100vh;
    position: relative;
    background-color: black;

    #indexBackground {
        min-height: calc(100vh - #{$footerheight});

        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/assets/index_unsplash_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    #indexMasthead {
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;

        text-align: center;
        font-family: $montserrat;

        h1, h2 {
            color: white;
        }
    
        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 4rem;
        }
        
        h2 {
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
        }

        .btn {
            background-color: white;
            color: black;
            font-weight: 700;
            border-radius: 0;
            line-height: 2rem;

            transition: opacity 0.1s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    #mainNav {
        background: none;
    }

    #mainFooter {
        background-color: black;
    }
    
    @media screen and (max-width: 600px) {
        #indexMasthead {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }
}
