footer#mainFooter.text-center
    .container.pt-3
        a.btn.mx-2(href="#")
            i.fab.fa-twitter
        a.btn.mx-2(href="#")
            i.fab.fa-linkedin-in
        a.btn.mx-2(href="#")
            i.fab.fa-facebook-f
    .p-3
        span &#169; 2021 46elks AB
