footer#mainFooter
    .container.pt-3
        a.btn(href="https://github.com/46elks" target="_blank" title="Link to GitHub")
            i.fab.fa-github
        a.btn(href="https://medium.com/46elks" target="_blank" title="Link to Medium")
            i.fab.fa-medium-m
        a.btn(href="https://twitter.com/46elks" target="_blank" title="Link to Twitter")
            i.fab.fa-twitter
        a.btn(href="https://www.instagram.com/46elks/" target="_blank" title="Link to Instagram")
            i.fab.fa-instagram
        a.btn(href="https://www.facebook.com/46elks" target="_blank" title="Link to Facebook")
            i.fab.fa-facebook-f
    .p-3
        a(href="https://46elks.se/" target="_blank" title="Link to 46elks.se") &#169; 2021 46elks AB
