nav#mainNav.navbar.navbar-expand-xl.navbar-dark
    
    div.container-fluid
        
        //- Logo/Brand name
        a.navbar-brand(href=".") APIskolan

        //- Collapse button
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            i.fas.fa-bars

        //- Collapsible items/links
        div#navbarSupportedContent.collapse.navbar-collapse.my-2.text-center
            ul.navbar-nav.ms-auto
                li.nav-item.me-3
                    a.nav-link(href="#") Om oss
                li.nav-item.me-3
                    a.nav-link(href="#") Kontakt
                li.nav-item.me-3
                    a.nav-link.btn(href="#") Kom igång!
