nav#mainNav.navbar.navbar-expand-xl.navbar-dark
    
    .container-fluid
        
        //- Logo/Brand name
        a.navbar-brand(href=".")
            img(src="assets/images/logo_big_light.svg" alt="APIskolan")

        //- Collapse button
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation")
            i.fas.fa-bars

        //- Collapsible items/links
        #navbarDropdown.collapse.navbar-collapse.my-2.text-center
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.hide-on-content-page.nav-link(href="#about") OM OSS
                li.nav-item
                    a.hide-on-content-page.nav-link(href="#contact") KONTAKT
                li.nav-item
                    a.hide-on-index.btn.nav-link(href=".") TILLBAKA TILL STARTSIDAN
                li.nav-item
                    a.hide-on-content-page.btn.nav-link(href="content.html") KOM IGÅNG
