doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Innehåll

    body

        #contentWrapper

            //- HEADER
            include includes/header.pug

            #mainContentDiv.container-fluid

                .row


                    //- CONTENT
                    .col-xl-7

                        h1 Vad är egentligen ett API?
                        
                        p
                            | Man kan säga att APIer är datavärldens tolkar. APIet är den del av ett IT-
                            | system som hanterar kommunikationen mellan program, produkter och
                            | tjänster. Nyckelordet för APIer är
                            em kommunikation.
                            br
                            br
                            | Ett enkelt exempel på en situation där APIer används är 
                            em väderappar
                            | , som SMHI eller Yr. APIet är den del av systemet som hämtar
                            | informationen om veckans väder för att det ska kunna visas i appen.
                            | APIer behövs eftersom program ofta fungerar väldigt olika från varandra.
                            | Utan en tolk skulle de flesta program inte förstå varandra, även om de
                            | hade ett sätt att kommunicera. APIers jobb är därmed både att sköta
                            | kommunikationen mellan programmen, men också att översätta deras
                            | meddelanden för varandra.
                            br
                            br
                            | Denna teknologi är en otroligt viktig del i dagens IT-system. Nästan allt
                            | som är anslutet till internet och hanterar information använder sig av ett
                            | eller flera APIer. Några andra kända tjänster som använder APIer är:

                            ul.fa-ul
                                li 
                                    span.fa-li
                                        i.fas.fa-hotel
                                    | Onlinebokning (t.ex. hotell)
                                li 
                                    span.fa-li
                                        i.fas.fa-map-marked-alt
                                    | Karttjänster (t.ex. Google Maps)
                                li 
                                    span.fa-li
                                        i.fas.fa-shopping-cart
                                    | Onlinebutiker (t.ex. Amazon)
                                li 
                                    span.fa-li
                                        i.fas.fa-bus
                                    | Elektroniska busstidtabeller


                    //- IMAGE
                    .col-xl-5.my-auto

                        img#undrawCodeThinking(src="../src/assets/undraw_code_thinking.svg" alt="undraw_code_thinking")


                    //- QUIZ
                    form#quiz(name="quiz1" data-answer="1")
                        #quizTextInBorder
                            span#quizQuestion Vad beskriver bäst ett API?

                        #quizBorder
                            #quizAnswers
                                label
                                    input(type="radio" name="quizOption" value="1")
                                    | En kommunikatör för datorprogram.
                                label
                                    input(type="radio" name="quizOption" value="2")
                                    | Ett samlingsnamn för en typ av programmeringsspråk.
                                label
                                    input(type="radio" name="quizOption" value="3")
                                    | Ett program som hämtar veckans väder.
                    
                        input(type="button" name="" value="Svara" onclick="showQuizResult('quiz1')")


            //- FOOTER
            include includes/footer.pug


        //- SCRIPTS
        include includes/scripts.pug

