doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Innehåll

    body#contentBody

        //- HEADER

        include includes/header.pug

        //- MAIN
        #mainContentDiv.container
            .row
                .col-md-8
                    h1 Vad är ett API?
                .col-md-4
                    img(src="../src/assets/undraw_code_thinking_re_gka2.svg" alt="undraw_code_thinking")

        //- FOOTER

        include includes/footer.pug
        

        //- SCRIPTS

        include includes/scripts.pug

