doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Innehåll

    body

        #contentWrapper

            //- HEADER
            include includes/header.pug

            #mainContentDiv.container-fluid
                .row 
                    h1 Vad är ett API?
                .row
                    .col-xl-7
                        p
                            | Ett API eller applikationsprogrammeringsgränssnitt, av engelskans application programming interface, är en specifikation av hur olika applikationsprogram kan använda och kommunicera med en specifik programvara, som vanligen utgörs av ett dynamiskt länkat bibliotek och som därmed blir en mjukvarukomponent i applikationen.
                            br
                            br
                            | API:et är ett gränssnitt mellan applikationen och biblioteket. Biblioteket blir en mjukvarukomponent i applikationen och utgörs vanligen av en uppsättning funktioner som är tillgängliga för applikationen att anropa, variabler som den kan läsa och/eller ändra, samt datatyper och klasser som den kan använda. Dessa funktioner kan i sin tur använda funktioner, variabler, och så vidare, som inte har gjorts tillgängliga från externa program, utan har kapslats in bakom API:et.
                    .col-xl-5.my-auto
                        img#undrawCodeThinking(src="../src/assets/undraw_code_thinking.svg" alt="undraw_code_thinking")
                .row
                    .col-xl-6.mb-4
                        h2 Lista över APIer

                        ul.fa-ul
                            li
                                span.fa-li
                                    i.fab.fa-google
                                | Google
                            li
                                span.fa-li
                                    i.fab.fa-youtube
                                | YouTube
                            li
                                span.fa-li
                                    i.fab.fa-facebook
                                | Facebook
                    .col-xl-6
                        form#quiz(name="quiz1" data-answer="1")
                            #quizTextInBorder
                                div
                                    span#quizQuestion Vad står API för?

                            #quizBorder
                                #quizAnswers
                                    span
                                        input(type="radio" name="quizOption" value="1")
                                        | Application Programming Interface
                                    span
                                        input(type="radio" name="quizOption" value="2")
                                        | Ample Positional Index
                                    span
                                        input(type="radio" name="quizOption" value="3")
                                        | Antivirus Power Infrastructure
                        
                            input(type="button" name="" value="Svara" onclick="showQuizResult('quiz1')")


            //- FOOTER
            include includes/footer.pug


        //- SCRIPTS
        include includes/scripts.pug

