doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Ditt första API request!

    body

        #contentWrapper

            //- HEADER
            include includes/header.pug

            #mainContentDiv.container-fluid

                .row

                    //- CONTENT
                    .col-xl-7

                    h1 Ditt första API request!

                    .editor
                        .editor-wrapper 
                            .editor-body 
                                #editorCode.editor-code
                                
                            .editor-footer

                                .editor-footer-left
                                    button.editor-button.editor-run Run >
                                    button.editor-button.editor-reset Reset >

                                .editor-footer-right
                                    .editor-console
                                        ul.editor-console-logs
                        

                    #rightColumn.col-xl-5


                .row.text-center.mt-5

                    a(href="content.html") Föregående sida - "Vad är egentligen ett API?"

            //- FOOTER
            include includes/footer.pug


        //- SCRIPTS
        include includes/scripts.pug
        script(src="js/editor.js")
        script(src="js/editor-console.js")

