doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Vad är egentligen ett API?

    body

        #contentWrapper

            //- HEADER
            include includes/header.pug

            #mainContentDiv.container-fluid

                .row

                    //- CONTENT
                    .col-xl-7


                    #rightColumn.col-xl-5


            //- FOOTER
            include includes/footer.pug


        //- SCRIPTS
        include includes/scripts.pug

