doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Ditt första API request!

    body

        #contentWrapper

            //- HEADER
            include includes/header.pug

            #mainContentDiv.container-fluid

                .row

                    //- CONTENT
                    .col-xl-7

                    h1 Ditt första API request!

                    .editor
                        .editor_wrapper 
                            .editor_body 
                                #editorCode.editor_code
                                
                            .editor_footer

                                .editor_footer-left
                                    button.editor_button.editor_run Run >
                                    button.editor_button.editor_reset Reset >

                                .editor_footer-right
                                    .editor_console
                                        ul.editor_console-logs
                        

                    #rightColumn.col-xl-5


                .row.text-center.mt-5

                    a(href="content.html") Föregående sida - "Vad är egentligen ett API?"

            //- FOOTER
            include includes/footer.pug


        //- SCRIPTS
        include includes/scripts.pug

