doctype html
html(lang="sv")

    head

        include includes/head.pug

        title APIskolan - Innehåll

        link(href="style.css" rel="stylesheet")
        
        style(type="text/css").
            body {
                background-color: #ffffff
            }

    body

        //- HEADER

        include includes/header.pug


        //- FOOTER

        include includes/footer.pug
        

        //- SCRIPTS

        include includes/scripts.pug

