doctype html
html(lang="sv")

    head

        include includes/head.pug
        title APIskolan

    body#indexBody

        //- HEADER
        include includes/header.pug


        


        //- FOOTER
        include includes/footer.pug
        

        //- SCRIPTS
        include includes/scripts.pug

