doctype html
html(lang="sv")

    head

        include includes/head.pug
        title APIskolan

    body

        #indexWrapper
            
            #indexBackground

                //- HEADER
                include includes/header.pug

                #indexMasthead

                    h1 Välkommen till APIskolan!

                    h2 En svensk lärplattform för APIer
                    
                    a.btn.mt-3(href="content.html") KOM IGÅNG


            //- FOOTER
            include includes/footer.pug
        

        //- SCRIPTS
        include includes/scripts.pug

