doctype html
html(lang="sv")

    head

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width", initial-scale=1.0)

        title APIskolan

        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
        link(href="style.css", rel="stylesheet")


    body

        //- NAVBAR

        nav.navbar.navbar-expand-lg.navbar-main
            
            div.container-fluid
                
                //- Logo/Brand name
                a.navbar-brand(href=".") APIskolan

                //- Collapse button
                button.navbar-toggler(type="button" data-bs-toggle="collapse")
                    span.navbar-toggler-icon

                //- Collapsed items/links
                div.collapse.navbar-collapse.my-2
                    ul.navbar-nav.ms-auto
                        li.nav-item.me-3
                            a.nav-link(href="#") Om oss
                        li.nav-item.me-3
                            a.nav-link(href="#") Kontakt
                        li.nav-item.me-3
                            i.fab.fa-twitter
                        li.nav-item.me-3
                            a.nav-link.btn(href="#") Lär dig API
