// Fonts
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;

// Colors
$mainblue: #8ab9ff;
$maindarkblue: #002863;
$maingray: #595959;
$maindarkbg: #222;

// Misc.
$headerheight: 95px;
$headerheightmobile: 60px;
$footerheight: 110px;
