// Fonts
$monsterrat: "Monsterrat", sans-serif;
$roboto: "Roboto", sans-serif;

// Colors
$mainblue: #8ab9ff;
$maindarkblue: #002863;
$maingray: #595959;

$maindarkbg: #222;

// Misc.
$footerheight: 110px;
