// Font imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variable imports
@import "./_variables.scss";

// Partial imports
@import "./partials/_header.scss";
@import "./partials/_footer.scss";


body {
    height: 100%;
    font-family: $monsterrat;
    background-color: #222;
}
